* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font for the whole thing */
  font-family: "Lato", sans-serif;
}

body {
  background-color: #f5f5f5;

  /* all text dark grey */
  color: #535050;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  margin: 20px 10px 30px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button,
input,
.user {
  padding: 5px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#user {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background: #727171;
  color: white;
}

.user {
  background-color: lightgray;
  padding: 10px;
}

.user ul {
  list-style: none;
  margin-left: 8px;
}
